[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "*"
django = "==2.1.4"
django-cleanup = "*"
pillow = "*"
pylint = "*"
autopep8 = "*"
pylint-django = "*"
django-bootstrap-breadcrumbs = "*"
django-view-breadcrumbs = "*"

[dev-packages]

[requires]
python_version = "3.7"
