
/* ACTORES INDEX */

.actores_index #team .card {
    border: none;
    background: #ffffff;
}

.actores_index .frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.actores_index .frontside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.actores_index .frontside .card {
    min-height: 312px;
}

.actores_index .frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* DIRECTORES INDEX */

.directores_index .foto_director{
    width:200px;
    height:280px;
}

/* UTILIDADES */

.no_text_decoration:hover{
    text-decoration:none;
}