
/* ACTORES INDEX */

.actores_index #team .card {
    border: none;
    background: #ffffff;
}

.actores_index .frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.actores_index .frontside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.actores_index .frontside .card {
    min-height: 312px;
}

.actores_index .frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* DIRECTORES INDEX */

.directores_index .foto_director{
    width:200px;
    height:280px;
}

/* PELICULA DETALLE */

.pelicula_detalle .caratula{
    max-width:300px;
}

.ficha_pelicula{
    box-shadow: 1px 1px 4px grey;
    border-radius: 3px;
}

.ficha_pelicula .foto_actor{
    max-width:50px;
}

.ficha_pelicula .foto_director{
    max-width:90px;
}

.ficha_pelicula .trailer{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
    
.ficha_pelicula .trailer iframe,
.ficha_pelicula .trailer object,
.ficha_pelicula .trailer embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* UTILIDADES */

.no_text_decoration:hover{
    text-decoration:none;
}